#top {
	height:			44px;
	font-size:		38px;
}
#fund {
	width:			300px;
	top:			44px;
}
#search {
	left:			310px;
	top:			44px;
}
#fund input{
	width:			300px;	
}
#fund select{
	width:			300px;	
}
#openMenu{
	display:		none;
}
#info{
	display:		none;
}
#window_graph{
	width:			90%;
}


#info{
	position:		fixed;
	left:			0px;
	right:			0px;
	top:			556;
	bottom:			0px;
	font-size:		14px;
	display:		block;
	padding-top:	2px;
}
.infoPart{
	position:		relative;
	float:			left;
	width:			25%;
	text-align:		center;
}
#infoWinner{
	position:		relative;
	float:			left;
	text-align:		center;
	width:			25%;
}